/*SECTION 1*/
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ebebeb;
}

hr {
    border: 0.5px solid black;
    margin: 10px 0;
}

.title {
    text-align: center;
}

.section-1 {
    width: 989px;
    height: 528px;
   margin-bottom: 50PX;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

/*SECTION 2*/

.section-2 {
    display: flex;
    justify-content: center;
    background-color: #fff;
    font-family: sans-serif;
}


.card {
    text-align: center;
    padding: 20px;
    border: 1px solid #0d6efd;
    border-radius: 2px;
    background-color: #fff;
    
}

.card.middle {
    width: 25%; 
    background-color: #0992C3;
    border-top-left-radius: 50px; 
    border-top-right-radius: 50px; 
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 50px; 
    color: #7cc5df;
}

.card.side1 {
    width: 15%; 
    border-top-left-radius: 50px;
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 0px; 
    height: 350px;
    align-self: center;  
    color: #0992c4;
}

.card.side2 {
    width: 15%; 
    border-top-left-radius: 00px; 
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 50px; 
    height: 350px;
    align-self: center;
    color: #0992c4;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.button1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: 2px solid #c3737d;
    background-color: #ffffff;
    color: #c3737d;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.button3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: 2px solid #c3737d;
    background-color: #ffffff;
    color: #c3737d;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}


.button1:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 10);
}

.button3:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 10);
}

.button2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: #E48D2A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  
  .button2:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    animation: button2Animation 0.5s infinite linear;
  }
  
  .button2:active {
    transform: scale(1.1);
  }
  
  @keyframes button2Animation {
    0% {
      left: 0;
    }
    50% {
      left: 10px;
    }
    100% {
      left: 0;
    }
  }

  /*SECTION 3*/

  .section-3 {
    text-align: center;
    padding: 40px;
    background-color: #ffffff;
    font-family: sans-serif;
  }
  
  .section-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #57949d;
    font-size: 3rem;
  }
  
  .section-subtitle {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 30px;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    width: 450px;
    background-color: #e9e9e8;
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .card-title {
    font-weight: bold;
    margin-bottom: 10px;    
  }
  
  .card-content {
    font-size: 14px;
    color: #000000;
  }
  
  .card-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-column:nth-child(2) {
    margin-left: 40px;
  }
  
.answer{
    color: #505050;
    font-size: 1.1rem;
}
.question{
    color: #c76666;
     font-weight:bold;
     font-size: 1.1rem;
}

/*RODAPE*/

.footer {
  background-color: #15878e;
  color: #ffffff;
  width: 100%;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}

.footer-column {
  flex: 1;
  padding: 0 15px;
  box-sizing: border-box;
}

.footer-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer-link,
.footer-info {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-link:hover {
  color: #ffffff;
}

.footer-bottom {
  border-top: 1px solid #0c5e68;
  padding-top: 20px;
  text-align: center;
  background-color: #0c5e68;
}

.footer-bottom-text {
  font-size: 12px;
  color: #ffffff;
}

.footer-bottom-text a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-bottom-text a:hover {
  color: #ffffff;
}

.footer-images img {
  width: 30px; 
  height: auto;
  margin-right: 10px;
}

.footer-big-image img {
  width: 200px;
  height: auto;
  margin-top: 10px;
}


